.header-color{
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Raleway', sans-serif;
}

.landing-grid{
  background-image: url(https://i.imgur.com/uZV51TU.jpg);
  text-align: center;
}


.avatar-img {
  height: 250px;
  padding-top: 5em;
}

.banner-text {
  background-color: black;
  opacity: 0.8;
  width: 50%;
  margin: auto;
  border-radius: 10px;
  text-align: center;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.banner-text h2 {
  font-size: 23px;
  font-weight: bold;
  color: white;
  font-family: 'Raleway', sans-serif;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
  font-family: 'Raleway', sans-serif;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
  font-family: 'Raleway', sans-serif;
}

.social-links {
  display : flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}

.about-grid{
  background: #ADA996;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  font-family: 'Merriweather', sans-serif;
}

.about-text {
  background-color: white;
  opacity: 0.8;
  width: 50%;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.about-text h1 {
  color: black;
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
}

.about-text p {
  color: black;
  font-size: 20px;
  padding: 1em;
  font-family: 'Raleway', sans-serif;
}

.coursework-grid {
  background: #ADA996;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  font-family: 'Merriweather', sans-serif;
}

.table-title h1{
  color: black;
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
}

.table {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Raleway', sans-serif;
}

/*resume*/
.resume-right {
  background: #27221F;
  color: white;
  padding: 2em;
}

/*resume_end*/



img {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
      filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .8s ease-in-out;
    }

    img:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);
    }
